<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>IPL Admin</title>
    <link rel="stylesheet" href="/css/indexStyle.css">
    <style>

<!-- **********************************************************************-->
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

.alert-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 0px auto;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  background: rgb(0, 0, 0, 0.3);
  z-index: 999999;
}

@keyframes open-frame {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(0.97);
  }
  75% {
    transform: scale(0.93);
  }
  100% {
    transform: scale(1);
  }
}

.alert-frame {
  background: #fff;
  min-height: 400px;
  width: 300px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  animation: open-frame 0.3s linear;
}

.alert-header {
  display: flex;
  flex-direction: row;
  height: 175px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.alert-img {
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.alert-close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  cursor: pointer;
  line-height: 30px;
}

.alert-close-default {
  color: rgb(0, 0, 0, 0.2);
  font-size: 16px;
  transition: color 0.5s;
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
}

.alert-close-circle {
  background: #e4eae7;
  color: #222;
  border-radius: 17.5px;
  margin-top: -15px;
  margin-right: -15px;
  font-size: 12px;
  transition: background 0.5s;
  margin-left: auto;
}

.alert-close-circle:hover {
  background: #fff;
}

.alert-close:hover {
  color: rgb(0, 0, 0, 0.5);
}

.alert-body {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.alert-title {
  font-size: 25px !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 35px;
  color: #222;
  align-self: center;
}

.alert-message {
  font-size: 16px !important;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin-bottom: 35px;
  line-height: 1.6;
  align-self: center;
}

.alert-button {
  min-width: 140px;
  height: 35px;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.5s;
  padding: 0 15px;
  align-self: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.alert-button:focus {
  outline: 0;
}

.question-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.confirm-button {
  min-width: 100px;
  height: 35px;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.5s;
  padding: 0 15px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.confirm-button:focus {
  outline: 0;
}

.cancel-button {
  min-width: 100px;
  height: 35px;
  border-radius: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1.6;
  transition: background 0.5s;
  padding: 0 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cancel-button:focus {
  outline: 0;
}

.error-bg {
  background: #d85261;
}
.error-bg-btn {
  background: #d85261;
}

<!--.success-bg {-->
<!--  background: #2dd284;-->
<!--}-->

.success-bg {
  background: #e1f4e5;
}
.success-bg-btn {
  background: #2dd284;
}

.warning-bg {
  background: #fada5e;
}

.question-bg {
  background: #779ecb;
}

.error-btn:hover {
  background: #e5a4b4;
}

.success-btn:hover {
  background: #6edaa4;
}

.warning-btn:hover {
  background: #fcecae;
}

.info-btn:hover {
  background: #c3e6fb;
}

.question-btn:hover {
  background: #bacee4;
}

.info-bg {
  background: #88cef7;
}

    </style>
</head>
<body class="body">

<div>
    <nav class="navbar navbar-dark d-flex justify-content-center" style="background-color:#223577">
        <div class="container"><div class="mt-3 row"><h4 class="text-light">Indian Premier League</h4></div></div>
            <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-light active" onclick="clickPlayer()" id="playersTab-tab" data-bs-toggle="tab" data-bs-target="#playersTab" type="button" role="tab" aria-controls="playersTab" >PLAYERS</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-light" onclick="clickMatch()" id="matchesTab-tab" data-bs-toggle="tab" data-bs-target="#matchesTab" type="button" role="tab" aria-controls="matchesTab" >MATCHES</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-light" onclick="clickTeam()" id="teamsTab-tab" data-bs-toggle="tab" data-bs-target="#teamsTab" type="button" role="tab" aria-controls="contact" aria-selected="false">TEAMS</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-light" onclick="clickPoint()" id="pointsTab-tab" data-bs-toggle="tab" data-bs-target="#pointsTab" type="button" role="tab" aria-controls="pointTable" aria-selected="false">TABLE</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-light" onclick="clickScore()" id="scoresTab-tab" data-bs-toggle="tab" data-bs-target="#scoresTab" type="button" role="tab" aria-controls="scoringTable" aria-selected="false">SCORE BOARD</button>
                </li>
            </ul>
    </nav>
</div>

<!--table players-->
<div class="container mt-3">

    <div class="tab-content" id="myTabContent">
<!--        fade show active -->
        <div class="tab-pane fade show active" id="playersTab" role="tabpanel" aria-labelledby="players-tab">
            <div class="mt-2 mb-2 d-flex justify-content-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary mr-3" data-bs-toggle="modal" data-bs-target="#addplayer">
                    Add Player
                </button>
            </div>
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Player ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Country</th>
                    <th scope="col">Role</th>
                    <th scope="col">Team</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="ply:${players}">
                    <td></td>
                    <td>[[${ply.team.name}]][[${ply.id}]]</td>
                    <td th:text ="${ply.name}"></td>
                    <td th:text ="${ply.country.countryName}"></td>
                    <td th:text ="${ply.role}"></td>
                    <td class="font-weight-bold"><a class="text-warning" th:href="@{/teams/team/{id}(id=${ply.team.id})}" >[[${ply.team.name}]]</a></td>
                    <td><a th:href="@{/players/edit/{id}(id=${ply.id})}"><i class="fas fa-edit text-success" /></a></td>
                    <td><a th:href="@{/players/delete/{id}(id=${ply.id})}"><i class="fas fa-trash-alt text-danger" /></a></td>
                </tr>
                </tbody>
            </table>
        </div>

<!--       Matches table -->
        <div class="tab-pane fade" id="matchesTab" role="tabpanel" aria-labelledby="matchesTab-tab">
            <!-- Button matche modal -->
            <div class="mt-2 mb-2 d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMatch">
                    Schedule Match
                </button>
            </div>
            <table id="tableData" class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Team1</th>
                    <th scope="col">vs</th>
                    <th scope="col">Team2</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Date</th>
<!--                    <th scope="col">Result</th>-->
<!--                    <th scope="col">Winner</th>-->
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="match:${matches}">
                    <td></td>
                    <td class="font-weight-bold"><a class="text-warning" th:href="@{/teams/team/{id}(id=${match.team1.id})}">[[${match.team1.name}]]</a></td>
                    <td>vs</td>
                    <td class="font-weight-bold"><a class="text-warning" th:href="@{/teams/team/{id}(id=${match.team2.id})}" >[[${match.team2.name}]]</a></td>
                    <td th:text ="${match.venue.name}"></td>
                    <td th:text ="${match.matchDate}"></td>
<!--                    <td th:text ="${match.result}"></td>-->
<!--                    <td th:text ="${match.matchWinner}"></td>-->
<!--                    <td><a th:href="@{/result/edit/{id}(id=${match.id})}">Update Score</a></td>-->
                    <td></td>
                    <td><a th:href="@{/matches/edit/{id}(id=${match.id})}"><i class="fas fa-edit text-success" /></a></td>
                    <td><a th:href="@{/matches/delete/{id}(id=${match.id})}"><i class="fas fa-trash text-danger" /></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--       Points table -->
        <div class="tab-pane fade" id="pointsTab" role="tabpanel" aria-labelledby="profile-tab">
            <!-- Button matche modal -->
            <div class="mt-2 mb-2 d-flex justify-content-center">
            </div>
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Team</th>
<!--                    <th scope="col"></th>-->
<!--                    <th scope="col"></th>-->
                    <th scope="col">M</th>
                    <th scope="col">W</th>
                    <th scope="col">L</th>
                    <th scope="col">NRR</th>
                    <th scope="col">Pts</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="pointTable:${pointTables}">
                    <td></td>
                    <td class="font-weight-bold"><a th:href="@{/teams/team/{id}(id=${team.id})}" class="text-warning a1">[[${pointTable.team.name}]]</a></td>
<!--                    <td></td>-->
                    <td th:text ="${pointTable.totalMatch}"></td>
                    <td th:text ="${pointTable.win}"></td>
                    <td th:text ="${pointTable.lose}"></td>
                    <td th:text ="${pointTable.netRunRate}"></td>
                    <td th:text ="${pointTable.points}"></td>
                </tr>
                </tbody>
            </table>
        </div>
<!----------------------        Teams table ----------------->
        <div class="tab-pane fade" id="teamsTab" role="tabpanel" aria-labelledby="contact-tab">
            <div class="mt-2 mb-2 d-flex justify-content-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addteam">
                    Add Team
                </button>
            </div>
            <table class="table table-dark table-hover" id="teamTable">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="team:${teams}">
                    <td><a th:href="@{/teams/players/{team_id}(team_id=${team.id})}"></a></td>
                    <td class="font-weight-bold"><a th:href="@{/teams/team/{id}(id=${team.id})}" class="text-warning a1">[[${team.name}]]</a></td>
                    <td hidden>[[${team.name}]]</td>
                    <td th:text ="${team.city.cityName}"></td>
                    <td><a th:href="@{/teams/edit/{id}(id=${team.id})}"><i class="fas fa-edit text-success" /></a></td>
                    <td><a th:href="@{/teams/delete/{id}(id=${team.id})}"><i onclick="question()" class="fas fa-trash text-danger" /></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!--       Scoring table -->
        <div class="tab-pane fade" id="scoresTab" role="scoring" aria-labelledby="scoring-tab">
            <table id="scoringTableData" class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Team1</th>
                    <th scope="col">vs</th>
                    <th scope="col">Team2</th>
                    <th scope="col">Team-1 Score</th>
                    <th scope="col">Team-2 Score</th>
                    <th scope="col">Result</th>
                    <th scope="col">Winner</th>
                    <th scope="col"></th>
                    <th colspan="2">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="match:${matches}">
                    <td></td>
                    <td class="font-weight-bold"><a class="text-warning" th:href="@{/teams/team/{id}(id=${match.team1.id})}">[[${match.team1.name}]]</a></td>
                    <td>vs</td>
                    <td class="font-weight-bold"><a th:href="@{/teams/team/{id}(id=${match.team2.id})}" class="text-warning" >[[${match.team2.name}]]</a></td>
                    <td th:text ="${match.team1Score}"></td>
                    <td th:text ="${match.team2Score}"></td>
                    <td th:text ="${match.result}"></td>
                    <td th:text ="${match.matchWinner}"></td>
                    <td></td>
                    <td class="font-weight-bold"><a class="text-warning" th:href="@{/result/addScore/{id}(id=${match.id})}">Add Score</a></td>
                    <td class="font-weight-bold"><a class="text-warning" th:href="@{/result/editScore/{id}(id=${match.id})}"><i class="fas fa-edit text-success" /></a></td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        End of Table navbar-->
    </div>


    <!--  Team Add Modal -->
    <div class="modal fade" id="addteam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">Add Team</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="#" th:action="@{/teams/add}" th:object="${team}">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <p class="text text-danger" id="teamNamemsg"></p>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-outline">
                                    <label class="form-label" for="teamName">Team Name</label>
                                    <input type="text" th:field="*{name}" id="teamName" class="form-control" onchange="checkTeamName();" required onkeypress="return allowOnlyLetters(event,this);"/>
                                    <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="select_city" class="form-label">Team State</label>
                            <select th:field="*{city}" class="custom-select" id="select_city" onchange="validateCity()">
                                <option value="0" selected >Choose...</option>
                                <div th:each="city:${cities}">
                                    <option th:value="${city.id}" th:text="${city.cityName}"></option>
                                </div>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="teamSubmit" onclick="teamSub()">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--  Player Add Modal -->
    <div class="modal fade" id="addplayer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Player</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="#" th:action="@{/players/add}" th:object="${player}">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <p class="text text-danger" id="player_namemsg"></p>
                        <p class="text text-danger" id="playermsg"></p>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-outline">
                                    <label class="form-label" for="player_name">Name</label>
                                    <input type="text" th:field="*{name}" id="player_name" name="player_name" onchange="checkPlayerName();" onkeypress="return allowOnlyLetters(event,this);" class="form-control" />
<!--                                    <script th:inline="javascript" th:if="${#fields.hasErrors('name')}">$("#addplayer").modal("show");</script>-->
<!--                                    <div class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">-->
                                    <td class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="team_select" class="form-label">Team</label>
                            <select th:field="*{team}" class="custom-select" id="team_select" onchange="checkTeamSelect()">
                                <option value="0" selected >Choose...</option>
                                <div th:each="team:${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"></option>
                                </div>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Role</label>
                            <select th:field="*{role}" class="custom-select" id="role_select" onchange="checkRoleSelect()">
                                <option value="0" selected >Choose...</option>
                                <option th:value="Batsman" th:text="Batsman"></option>
                                <option th:value="Bowler" th:text="Bowler"></option>
                                <option th:value="All_Rounder" th:text="All_Rounder"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label  class="form-label">Country</label>
                            <select th:field="*{country}" class="custom-select" id="country_select"  onchange="checkCountrySelect()">
                                <option value="0" selected>Choose...</option>
                                <div th:each="country:${countries}">
                                    <option th:value="${country.id}" th:text="${country.countryName}"></option>
                                    <!--                                <option th:value="'F'" th:text="Female"></option>-->
                                </div>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="playerSubmit" class="btn btn-primary" onclick="playerSub()">Submit</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!--                            <button type="button" class="btn btn-primary">Save changes</button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--  Match schedule Modal -->
    <div class="modal fade" id="addMatch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="d">Schedule Match</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="#" th:action="@{/matches/save}" th:object="${match}">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <p class="text text-danger" id="matchMsg"></p>
                        <div class="mb-3">
                                <label class="form-label" for="date_picker">Date</label>
                                <input class="form-control" type="datetime-local" id="date_picker" name="meeting-time"
                                       min="2021-12-06T00:00" max="2022-06-14T024:00" th:field="*{matchDate}" onchange="checkVenueDate()"/>
                        </div>
                        <div class="mb-3">
                            <label for="venue_select" class="form-label">Venue</label>
                            <select th:field="*{venue}" class="custom-select" id="venue_select" onchange="checkVenueDate()">
                                <option value="0" selected >Choose...</option>
                                <div th:each="venue:${venues}">
                                    <option th:value="${venue.id}" th:text="${venue.name}"></option>
                                </div>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="team1_select" class="form-label">Team-1</label>
                            <select th:field="*{team1}" class="custom-select" id="team1_select" onchange="team1Options()">
                                <option value="0" selected >Choose...</option>
                                <div th:each="team:${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"></option>
                                </div>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="team2_select" class="form-label">Team-2</label>
                            <select th:field="*{team2}" class="custom-select" id="team2_select" onchange="team2Options()">
                                <option value="0" selected >Choose...</option>
                                <div th:each="team:${teams}">
                                    <option th:value="${team.id}" th:text="${team.name}"></option>
                                </div>
                            </select>
                        </div>
                        <button type="submit" onclick="matchFormSubmit()" id="matchSubmit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--    <div th:if="${message}" th:text="${message}" th:id="${alertId}" th:class="${'alert ' + alertClass}"/>-->
    <div hidden th:if="${alertType}" th:text="${message}" id="success" th:class="${messageType}"></div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/js/indexJs.js"> </script>
<script th:inline="javascript">
function clickMatch() { }
function clickPlayer() { }
function clickPoint() { }
function clickTeam() { }
function clickScore() { }

function question(){
    var alertt = "question";
    alert("hello");
   if(alertt == "question"){
            cuteAlert({
                  type: "question",
                  title: "Confirm Title",
                  message: "Are you sure",
                  confirmText: "Okay",
                  cancelText: "Cancel"
                }).then((e)=>{
                alert(e);
                  if ( e == ("confirm")){
                } else {

                    alert(":-(");
                  }
            })
        }
}

window.onload = function () {
    var mb = document.getElementById("success");
    var messageType = /*[[${messageType}]]*/;
    var alertType = /*[[${alertType}]]*/;
    if (alertType == 'success') {
        var imagePath = '../images/successAn3.gif';
        var title = "Success!";
         setTimeout(function () {
        $(".alert-wrapper").hide(1000);
        }, 2000);
    } else if (alertType == 'error') {
        var title = "Failed!";
        var imagePath = '../images/cross.jpg';
         setTimeout(function () {
        $(".alert-wrapper").hide(1000);
        }, 4000);
    }
    if (mb) {
        var message = /*[[${message}]]*/;
        console.log($("#success").val());
        cuteAlert({
            type: alertType,
            title: title,
            message: message,
            buttonText: "OK",
            img: imagePath,
            closeStyle: "circle",
        });

        if (messageType == 'team') {
            $("#teamsTab-tab").click();
        }
        if (messageType == 'player') {
            $("#playersTab-tab").click();
        }
        if (messageType == 'match') {
            $("#matchesTab-tab").click();
        }
        if (messageType == 'score') {
            $("#scoresTab-tab").click();
        }
    }
}
</script>
</body>
</html>